* {
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1em;

	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
}

body {
	background-color: #ccd;
}

#background-img {
	position: absolute;
	z-index: -10;
	opacity: 0.5;
	height: 100%;
	width: 100%;
}


h1 {
	padding: 40px;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	color: #222;
	background-color: #2224;
	background-image: linear-gradient(#fff2, #fff1);
	text-shadow: 2px 2px 10px #0006; 
	box-shadow: 0 0 4px 0 #0003;
}


#ui {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	align-items: center;

}

#settings {
	flex-grow: 0;
	background-color: #c229;
	width: 250px;

	padding: auto 0;
}


#drawing-board {
	box-shadow: 0 0 4px 0 #0008;
	width: 300px;
	height: 300px;

	background-color: lightgreen;
	margin: 25px auto;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.board-row {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.board-cell {
	background-color: #222;

	flex-grow: 1;

	border: 1px #0004 solid;
}

.painted {
	background-color: #2b2;
}